version: "3"

services:
  centaurus:
    build: .
    user: ${CURRENT_UID}
    environment:
      - PORT=7000
      - HOST=0.0.0.0
    entrypoint: python app.py
    working_dir: /app
    ports:
      - 7000:7000
    volumes:
      - .:/app
