version: "3"

services:
  centaurus:
    build: .
    user: ${CURRENT_UID}
    environment:
      - PORT=7000
      - HOST=0.0.0.0
      - DEBUG=false
      - INITIALIZE_DB=true
      - DATABASE_URI=sqlite:///database.sqlite3
    entrypoint: /bin/sh run.sh
    working_dir: /app
    ports:
      - 7000:7000
    volumes:
      - .:/app
      