POSTGRES_PASSWORD=resu
POSTGRES_USER=user
POSTGRES_DB=db_centaurus
DB_HOST=db
DB_PORT=
API_INSTANCE=testing
SCIENCE_URL=http://testing.linea.gov.br
DACHS_URL=http://dachsdev.linea.gov.br

# Mail settings:
MAIL_SERVER=localhost
MAIL_PORT=25
MAIL_USERNAME=None
MAIL_PASSWORD=None
MAIL_USE_TLS=False
MAIL_USE_SSL=False
MAIL_USE_RECIPIENTS=helpdesk@linea.gov.br
